<!DOCTYPE html>
<html>
<head>
<title>Electronic Games</title>

<%= image_tag("homepage/ps4.jpg") %>

<h1>Description</h1>
<body>
<div id="article">
	<p>EG Games(also known as Electronic Games Gallery) is a computer and video games retailer. It specializes in selling video games and controllers for different consoles like PS4, Xbox One, Nintendo and many more. It has its headquarters in Canada. It was opened in 2016 and operated worldwide. It works for winnipegers only. </p>
	<aside>
	  <h2>Contact Information</h2>
	  <p>Location - Winnipeg,Canada
	  <br/> Contact me - electronicgames@gmail.com</p>
    </aside>
</div>
</body>